/* root
-------------------- */

:root {
  --white: #e5e7eb;
  --light-gray: #121826a6;
  --gray: #4d5562;
  --black: #212936;
  --pink: #c93b76;

  /* color map */
  --background-color: var(--gray);
  --primary-color: var(--pink);
  --primary-text-color: var(--white);
  --secondary-text-color: var(--light-gray);
  --progress-background-color: var(--white);
  --progress-active-color: var(--pink);

  /* font */
  --font-base: 'Inter', inter, system-ui, avenir, helvetica, arial, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  background-image: url('/images/bg.jpg');
}
